USE [ShopDB]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 02/12/2025 9:13:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[category_id] [int] NOT NULL,
	[name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED ss
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 02/12/2025 9:13:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[product_id] [int] NOT NULL,
	[product_name] [nvarchar](100) NOT NULL,
	[category_id] [int] NULL,
	[price] [int] NOT NULL,
	[image_url] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductVariant]    Script Date: 02/12/2025 9:13:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductVariant](
	[variant_id] [int] NOT NULL,
	[product_id] [int] NULL,
	[size] [varchar](10) NULL,
	[color] [nvarchar](100) NULL,
	[quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[variant_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Category] ([category_id], [name]) VALUES (1, N'Giày thể thao')
INSERT [dbo].[Category] ([category_id], [name]) VALUES (2, N'Giày lười')
INSERT [dbo].[Category] ([category_id], [name]) VALUES (3, N'Giày boot')
GO
INSERT [dbo].[Product] ([product_id], [product_name], [category_id], [price], [image_url]) VALUES (1, N'Giày lười nam Penny Loafer', 1, 1950000, N'PICTURES/giay_luoi_nam_Penny_Loafer.jpg')
INSERT [dbo].[Product] ([product_id], [product_name], [category_id], [price], [image_url]) VALUES (2, N'Giày lười nam Horsebit Loafer', 1, 2100000, N'PICTURES/giay_luoi_nam_Horsebit_Loafer.jpg')
INSERT [dbo].[Product] ([product_id], [product_name], [category_id], [price], [image_url]) VALUES (3, N'Giày lười nam Slip-On', 1, 2400000, N'PICTURES/giay_luoi_nam_Slip_On.jpg')
GO
INSERT [dbo].[ProductVariant] ([variant_id], [product_id], [size], [color], [quantity]) VALUES (1, 1, N'40', N'Nâu', 20)
INSERT [dbo].[ProductVariant] ([variant_id], [product_id], [size], [color], [quantity]) VALUES (2, 2, N'40', N'Nâu', 20)
INSERT [dbo].[ProductVariant] ([variant_id], [product_id], [size], [color], [quantity]) VALUES (3, 3, N'40', N'Đen', 20)
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([category_id])
REFERENCES [dbo].[Category] ([category_id])
GO
ALTER TABLE [dbo].[ProductVariant]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([product_id])
GO
